<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>browse our wares:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s2">
      <div class="row">
        <p>Filter by Collection: </p>
        <form action="#" ng-repeat="collection in allCollections">
          <input type="checkbox" ng-click="toggleFilter(collection, filteredCollections)" id={{collection}}>
          <label for={{collection}}>{{collection}}</label>
        </form>
      </div>
      <div class="row">
        <p>Filter by Color: </p>
        <form action="#" ng-repeat="(color, val) in allColors">
          <input type="checkbox" ng-click="toggleFilter(color, filteredColors)" id={{color}}>
          <label for={{color}}>{{color}}</label>
        </form>
      </div>
    </div>
    <div class="col s10">
      <div class="row collect" >
        <div ng-repeat="collect in allCollections "class="card small horizontal">
          <div class="card-image" ng-repeat="prod in products | collectionFilter:filteredCollections:collect">
            <bottle product="prod">
          </div>
          <div class="card-action">
            <a href="#">{{collect}}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col s10">
      <table>
        <thead>
          <tr>
            <th data-field="name">Item Name</th>
            <th data-field="price">Price</th>
            <th data-field="description">Description</th>
            <th data-field="collection">Collection</th>
            <th></th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr ng-repeat="item in products | colorFilter:filteredColors:allColors | collectionFilter:filteredCollections">
            <td>
              <a ui-sref="singleProduct({id: item.id})">
                {{item.name}}
              </a>
            </td>
            <td>{{item.price}}</td>
            <td>{{item.description}}</td>
            <td>{{item.collection}}</td>
            <td>Add To Cart Button</td>
          </tr>
        </tbody> -->
      </table>
    </div> -->
  </div>
</div>
