<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>browse our wares:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s2">
      <div class="row">
        <p class="color-filter-title">Colors</p>
        <form action="#" ng-repeat="(color, val) in allColors">
          <div class="col s4">
            <a href='#' ng-click="toggleFilter(color, filteredColors, false)">
              <div ng-click="selected = !selected" ng-class="selected ? 'color-filter-block-selected' : 'color-filter-block'" class="color-filter-block" id={{color}} style="background-color: {{color}}">
              </div>
            </a>
          </div>
        </form>
      </div>
      <div class="row">
        <p class="brand-filter-title">Brands</p>
        <form action="#" ng-repeat="collection in allCollections">
          <input type="checkbox" ng-click="toggleFilter(collection, filteredCollections, true)" id={{collection}}>
          <label for={{collection}}>{{collection}}</label>
        </form>
      </div>
    </div>
    <collection></collection>
    <div class="col s9 offset-s1">
      <div class="row collect" >

        <div ng-show="collectionView" ng-repeat="collect in allCollections | selectedCollections:filteredCollections">
          <div class="row">
            <div class="col s12">
              <h5>{{collect}}</h5>
            </div>
          </div>
          <div ng-repeat="prod in products | inStock | collectionFilter:filteredCollections:collect | colorFilter:filteredColors:assignColor">
            <catalogitem product="prod"></catalogitem>
          </div>
        </div>

        <div ng-hide="collectionView" ng-repeat="color in colorNames | selectedColors:filteredColors">
          <!-- <div class="row"> -->
            <!-- <div class="col s12"> -->
              <!-- <h5>{{color}}</h5> -->
            <!-- </div> -->
            <div ng-repeat="prod in products | inStock | collectionFilter:filteredCollections:collect | colorFilter:[color]:assignColor">
              <catalogitem product="prod"></catalogitem>
            </div>
          <!-- </div> -->
        </div>

      </div>
    </div>
  </div>
</div>
