<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>browse our wares:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s2">
      <div class="row">
        <p> Filter by Collection: </p>
        <form action="#" ng-repeat="collection in allCollections">
          <input type="checkbox" ng-click="toggleFilter(collection, filteredCollections, true)" id={{collection}}>
          <label for={{collection}}>{{collection}}</label>
        </form>
      </div>
      <div class="row">
        <p>Filter by Color: </p>
        <form action="#" ng-repeat="(color, val) in allColors">
          <input type="checkbox" ng-click="toggleFilter(color, filteredColors, false)" id={{color}}>
          <label for={{color}}>{{color}}</label>
        </form>
      </div>
    </div>
    <collection></collection>
    <div class="col s9 offset-s1">
      <div class="row collect" >
<!--         <div ng-show="collectionView" ng-repeat="collect in allCollections | selectedCollections:filteredCollections" class="card medium horizontal catcard">
          <div class="card-image" ng-repeat="prod in products | inStock | collectionFilter:filteredCollections:collect | colorFilter:filteredColors:assignColor">
            <div class="row"><bottle class="bottle" ng-click="goToCol(prod.id)" product="prod"></div>
            <div class="row"><p class=prod-name>{{prod.name}}</p></div>
          </div>
          <div class="card-action">
            <a href="#">{{collect}}</a>
          </div>
        </div> -->
        <div ng-show="collectionView" ng-repeat="collect in allCollections | selectedCollections:filteredCollections">
          <div class="row">
            <div class="row">
              <div style="background-color: #ef9a9a" class="col s12">
                <h5 class="white-text">{{collect}}</h5>
              </div>
            </div>
            <div ng-repeat="prod in products | inStock | collectionFilter:filteredCollections:collect | colorFilter:filteredColors:assignColor">
              <catalogitem product="prod"></catalogitem>
            </div>
          </div>
        </div>

        <div ng-hide="collectionView" ng-repeat="color in colorNames | selectedColors:filteredColors" class="card medium horizontal catcard">
          <div class="card-image" ng-repeat="prod in products | inStock | collectionFilter:filteredCollections:collect | colorFilter:[color]:assignColor">
            <div class="row"><bottle class="bottle" ng-click="goToCol(prod.id)" product="prod"></div>
            <div class="row"><p class=prod-name>{{prod.name}}</p></div>
          </div>
          <div class="card-action">
            <a href="#">{{color}}</a>
          </div>
        </div>
      </div>
    </div>
      </table>
    </div>
  </div>
</div>
