<div class="row">
  <div class="input-field col s12">
    <input id="name" type="text" ng-model="product.name">
    <label class="active" class="active" for="name">Name</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <input id="collection" type="text" ng-model="product.collection">
    <label class="active" for="collection">Collection</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <input id="inventory" type="text" ng-model="product.inventory">
    <label class="active" for="inventory">Inventory</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s4">
    <input id="rValue" placeholder="RED" type="text" ng-model="product.rgbValue[0]">
    <label class="active" for="r">Red</label>
  </div>
  <div class="input-field col s4">
    <input id="gValue" placeholder="GREEN" type="text" ng-model="product.rgbValue[1]">
    <label class="active" for="gValue">Green</label>
  </div>
  <div class="input-field col s4">
    <input id="bValue" placeholder="BLUE" type="text" ng-model="product.rgbValue[2]">
    <label class="active" for="bValue">Blue</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <input id="price" type="text" ng-model="product.price">
    <label class="active" for="price">Price($)</label>
  </div>
</div>

