<div class="container">
  <br />
  <a class="waves-effect waves-light btn-large" ng-hide="current === 'Products'" ng-click="editProducts()">Products</a>
  <a class="waves-effect waves-light btn-large" ng-hide="current === 'Orders'" ng-click="editOrders()">Orders</a>
  <a class="waves-effect waves-light btn-large" ng-hide="current === 'Users'" ng-click="editUsers()">Users</a>
  <h3>Now Editing {{current}}</h3>
  <h5>Product Inventory</h5>
  <table>
    <thead>
      <tr>
        <td></td>
        <td>Inventory</td>
        <td>Name</td>
        <td>Collection</td>
        <td>rgbValue</td>
        <td>Price</td>
        <td>PhotoUrl</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <i class="material-icons">add</i>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr ng-repeat="product in products">
        <td>
          <i class="material-icons">mode_edit</i>
        </td>
        <td>
          {{product.inventory}}
        </td>
        <td>
          {{product.name}}
        </td>
        <td>
          {{product.collection}}
        </td>
        <td>
          {{product.rgbValue}}
        </td>
        <td>
          {{product.price}}
        </td>
        <td>
          {{product.photo}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
