<div class="container">
  <br />
  <a class="waves-effect waves-light btn-large" ng-hide="current === 'Products'" ng-click="editProducts()">Products</a>
  <a class="waves-effect waves-light btn-large" ng-hide="current === 'Orders'" ng-click="editOrders()">Orders</a>
  <a class="waves-effect waves-light btn-large" ng-hide="current === 'Users'" ng-click="editUsers()">Users</a>
  <h3>Now Editing {{current}}</h3>
  <h5>Product Inventory</h5>
  <table>
    <thead>
      <tr>
        <td>Inventory</td>
        <td>Name</td>
        <td>Collection</td>
        <td>rgbValue</td>
        <td>Price</td>
        <td>PhotoUrl</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        <td>
          <input value="{{product.inventory}}" placeholder="Inventory" id="inventory" type="text" class="validate">
        </td>
        <td>
          <input value="{{product.name}}" placeholder="Name" id="name" type="text" class="validate">
        </td>
        <td>
          <input value="{{product.collection}}" placeholder="Name" id="name" type="text" class="validate">
        </td>
        <td>
          <input value="{{product.rgbValue}}" placeholder="rgbValue" id="rgbValue" type="text" class="validate">
        </td>
        <td>
          <input value="{{product.price}}" placeholder="Price" id="price" type="text" class="validate">
        </td>
        <td>
          <input value="{{product.photo}}" placeholder="PhotoUrl" id="photoUrl" type="text" class="validate">
        </td>
      </tr>
    </tbody>
  </table>
</div>
