<div class="container">
  <h3>My Account</h3>
    <div class="card-panel">

      <form id="updatePassword-form" name="updatePasswordForm" ng-submit="updatePasswordForm.$valid && sendPasswordUpdate(user.id, password)">

        <alert type="danger" ng-show="error">
          {{ error }}
        </alert>

        <div class="form-group">
          <label for="email">Email address</label>
          <input name="email" type="text" ng-model="updatePassword.email" class="form-control" id="email" placeholder="{{user.email}}" disabled>
        </div>

        <h5>Update Password</h5>
        <div class="form-group">
          <label for="password">Password</label>
          <input name="password" type="password" ng-model="password" class="form-control" id="updatePassword-password" placeholder="Password" required>
        </div>
        <div class="form-group">
          <label for="password-confirm">Confirm Password</label>
          <input name="passwordConfirm" type="password" ui-validate="'$value==password'" ng-model="validate" ui-validate-watch="'updatePassword.password'" class="form-control" id="updatePassword-password-confirm" placeholder="Confirm Password" required>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="updatePasswordForm.$invalid">Submit</button>
      </form>

    </div>
  <h3>My Past Orders</h3>
  <div class="card-panel">
    <table>
      <thead>
        <tr>
          <td>Order #</td>
          <td>Order Status</td>
          <td>Date Placed</td>
          <td>Total Paid</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in orders">
          <td><a ui-sref="singleCart({cartId: order.id})">{{order.id}}</a></td>
          <td>{{order.status}}</td>
          <td>{{getDate(order.dateSubmitted)}}</td>
          <td>${{order.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
