<div class="container">

  <div class="row valign">
    <div class="col s9">
      <h1>{{product.name}}</h1>
      <div class="row">
        <div class="col">
          <div class="card horizontal">
            <div class="card-image">
              <img src="{{product.photo}}">
              <span class="card-title"></span>
            </div>
            <div class="card-stacked">
            <div class="card-content">
              <h5><strong>Description:</strong> {{product.description}}</h5>
              <h5><strong>Price:</strong> ${{product.price}}</h5>
              <h5><strong>Similar Items:</strong></h5>
              <p ng-repeat="item in similar">
                <a ui-sref="singleProduct({id: item.id})">
                  {{item.name}}
                </a>
              </p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn" ng-click="addToCart()"><i class="material-icons">add_shopping_cart</i>Add to cart</a>
            </div>
          </div>
          </div>
          <review product="product"></review>
        </div>
      </div>
    </div>
   </div>
  </div>

</div>
