<div class="container">
  <h2 ng-show="completed">Order #{{cart.id}}</h2>
  <h2>My Cart</h2>
  <div class="row">
    <div class="col s12 m7">
      <div class="card-panel white">
        <h5>Items In Shopping Cart: {{cart.products.length}}</h5>
        <table>
          <thead>
            <tr>
              <th></th>
              <th data-field="id">Item #</th>
              <th data-field="name">Item Name</th>
              <th data-field="quantity">Quantity</th>
              <th data-field="price">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in cart.products">
              <td><a href="#" ng-click="removeItem(cart.id, product.id)"><i class="material-icons">close</i></a></td>
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td><a href="#" ng-click="incrementQty(cart.id, product.id)"><i class="material-icons">add</i></a> {{product.OrderProducts.quantity}} <a href="#" ng-click="decrementQty(cart.id, product.id)"><i class="material-icons">remove</i></a></td>
              <td>{{product.price}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col s12 m5">
      <div class="card-panel white">
        <h5>Total</h5>
        <table>
          <tbody>
            <tr>
              <td>Subtotal</td>
              <td>${{cart.total}}</td>
            </tr>
            <tr>
              <td>Shipping</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>Estimated Tax</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td><strong>TOTAL</strong></td>
              <td>${{cart.total}}</td>
            </tr>
          </tbody>
        </table>
        <a class="waves-effect waves-light btn" ng-click="toggleCheckout()">Checkout</a>
      </div>
    </div>
  </div>
  <div class="row" ng-show="checkout">
    <div class="col s12">
      <checkout cart="cart"></checkout>
    </div>
  </div>
</div>
