/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }



/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

// @import 'directives/main';
// @import 'home/main';
// @import 'about/main';
// @import 'tutorial/main';
// @import 'login/main';

.productImage {
  height: 17em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

p, h1, h2, h3, h4, h5 {
  font-family: 'David Libre', serif;
}

#main {
  flex: 1 0 auto;
}

.card.medium.horizontal.catcard {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 3em;
  padding-top: 1em;
}
.prod-name {
  display: block;
  width: 300px;
  text-align: center;
  position: relative;
  bottom: 40px;
}
::-webkit-scrollbar {
  width: 0;
}

.outOfStock {
  color: red;
}

.swatch-container {
  display: inline-block;
  margin: 2px 2px 2px 2px;
}

.swatch-box {
  width: 50px;
  height: 50px;
  border: 1px black solid;
}

.shopping-cart {
  position: relative;
}

.shopping-cart .badge {
  position: absolute;
  line-height: initial;
  bottom: 5px;
  left: 3px;
}
