<adminnav></adminnav>
<div class="container">
  <h4>Editing Orders</h4>
  Filter By:
  <a href="#" ng-click="orderFilter = {status: 'incomplete'}">Incomplete</a> |
  <a href="#" ng-click="orderFilter = {status: 'processing'}">Processing</a> |
  <a href="#" ng-click="orderFilter = {status: 'shipped'}">Shipped</a> |
  <a href="#" ng-click="orderFilter = {status: 'delivered'}">Delivered</a> |
  <a href="#" ng-click="orderFilter = {status: 'cancelled'}">Cancelled</a> |
  <a href="#" ng-click="orderFilter = null">None</a>
  <table>
    <thead>
      <tr>
        <td></td>
        <td>ID</td>
        <td>Status</td>
        <td>Total</td>
        <td>UserID</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders | filter: orderFilter">
        <td>
          <a ui-sref="admineditorders({id: order.id})"><i class="material-icons">mode_edit</i></a>
        </td>
        <td><a ng-href="cart/{{order.id}}">{{order.id}}</td>
        <td>{{order.status}}</td>
        <td>{{order.total}}</td>
        <td><a ng-href="/profiles/{{order.userId}}">{{order.userId}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
