<adminnav></adminnav>
<div class="container">
  <h4>Editing Users</h4>
  <table>
    <thead>
      <tr>
        <td></td>
        <td>ID</td>
        <td>Email</td>
        <td>Admin</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>
          <i class="material-icons" ng-click="deleteUser(user.id)">close</i>
        </td>
        <td>
          {{user.id}}
        </td>
        <td>
          {{user.email}}
        </td>
        <td>
          <p>
            <input ng-click="toggleAdmin(user.id)" type="checkbox" id="{{user.id}}" ng-checked="{{user.isAdmin}}" />
            <label for="{{user.id}}">Admin</label>
          </p>
        </td>
        <td>
          <a class="waves-effect waves-light btn" ng-click="requirePasswordUpdate(user.id)">reset password</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

